@font-face {
  font-family: "Hypatia Sans Pro";
  src: url(~@/assets/fonts/HypatiaSansPro-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hypatia Sans Pro";
  src: url(~@/assets/fonts/HypatiaSansPro-Light.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Hypatia Sans Pro";
  src: url(~@/assets/fonts/HypatiaSansPro-Semibold.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hypatia Sans Pro";
  src: url(~@/assets/fonts/HypatiaSansPro-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}