
// mini grid

@mixin make-grid($prefix) {
  &#{$prefix}-half {
    grid-template-columns: 1fr 1fr;
  }

  &#{$prefix}-third {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &#{$prefix}-quarter {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.row {
  display: grid;
  
  @include make-grid('');
  
  @media(min-width: $bp-xs) {
    @include make-grid('-bp-xs-up');
  }

  @media(min-width: $bp-s) {
    @include make-grid('-bp-s-up');
  }

  @media(min-width: $bp-m) {
    @include make-grid('-bp-m-up');
  }

  &.input-row {
    width: calc(100% + 1em);
    overflow: hidden;
    
    input {
      max-width: calc(100% - 1em);
    }
  }
}