@keyframes spinner {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(359deg)
  }
}

.max-width {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.max-width-m {
  max-width: $bp-m;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.max-width-s {
  max-width: $bp-s;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.hide-tablet {
  @media(max-width: $bp-s - 1) {
    display: none;
  }
}

.show-tablet {
  display: none;

  @media(max-width: $bp-s) {
    display: block;
  }
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

body.no-scroll {
  overflow: hidden;
}

.no-margin {
  margin: 0;
}

//hero header
.hero-header {
  width: 100%;
  height: 850px;
  margin-top: -5em;
  overflow: hidden;

  @media(min-width: $bp-s) {
    margin-top: -10.25em;
    min-height: auto;
  }

  @media(max-width: $bp-xs - 1) {
    h1 {
      font-size: 2.5em;
    }
  }

  > div {
    background-color: $green !important;
  }

  .hero-header-content {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:after {
      content: '';
      position: absolute;
      width: 1800px;
      height: 1400px;
      border-radius: 50%;
      background: $white;
      top: -1100px;
      left: -750px;
      z-index: -1;
      border: 30px solid $white;
      box-shadow: inset 0px 0px 0px 2px $green;
    }

    h1 {
      max-width: 650px;
      margin-bottom: 0;
    }
  }

  &.subpage {
    min-height: auto;
    max-height: 650px;
    padding-bottom: 2em;
    margin-bottom: -2em;

    > div {
      margin-bottom: 2em;

      &.fade-leave-active {
        bottom: 0;

        .hero-header-content {
          padding-top: 5em;

          &:after {
            margin-top: 4em;
          }
        }
      }
    }

    .hero-header-content {
      top: 42%;  

      &:after {
        top: -1200px;
      }
    }
  }

  @media(max-width: 550px) {
    .hero-header-content {
      h1 br {
        display: none;
      }
    }
  }

  @media(max-width: $bp-s - 1) {
    .hero-header-content {
      top: 30%;
  
      &:after {
        top: -1025px;
        left: -950px;
      }
    }

    &.subpage .hero-header-content {
      top: 28%;

      &:after {
        top: -1150px;
      }
    }
  }

  @media(max-width: $bp-xs - 1) {
    .hero-header-content {
      top: 31%;

      &:after {
        top: -1025px;
        left: -1000px;
      }
    }

    &.subpage .hero-header-content {
      top: 30%;

      &:after {
        top: -1175px;
      }
    }
  }

  @media(max-width: 340px) {
    .hero-header-content {
      &:after {
        top: -990px;
      }
    }
  }

  .hero-header-page-title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-flow: column;
    height: 100%;

    .hero-header-title {
      position: relative;
      background: $green;
      padding: 0.75rem 1rem 0.5rem;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 1em;
      font-weight: 500;
      min-width: 250px;
      text-align: center;
      z-index: 2;
    }

    .chevron {
      position: relative;
      margin-bottom: -3em;
      text-align: center;
      z-index: 1;
      
      &-inner {
        display: inline-block;
        padding: 0.75em;
        background: $white;
        border-radius: 50%;
      
        img {
          display: block;
          position: relative;
          width: 22px;
        }
      }
    }
  }
}

.bottom-text-image {
  > div {
    padding-bottom: 25vw;
    background-position: 50% calc(100% + 7em) !important;
    background-size: 175% !important;

    @media(min-width: $bp-xs) {
      background-position: 50% calc(100% + 12em) !important;
      background-size: 175% !important;
    }

    @media(min-width: $bp-s) {
      background-position: 50% calc(100% + 15em) !important;
      background-size: 150% !important;
    }

    @media(min-width: $bp-l) {
      background-position: 50% calc(100% + 22em) !important;
      background-size: 150% !important;
    }
  }
}