/* Fonts */
$primary-font: "Hypatia Sans Pro";
$secondary-font: Helvetica;
$font-family: $primary-font, sans-serif;
$featured-font-family: $primary-font, $font-family;

/* Color Scheme */
$navy: #575F6B;
$blue: #0548ad;
$light-blue: #72d4fc;
$red: #e22d48;
$green: #95c83e;
$dark-green: #019446;

// Grayscale
$white: #ffffff;
$off-white: #f8fafa;
$black: #414042;
$black-light: #242021;
$gray-light: #f1f1f1;
$gray: #cdcdcd;
$gray-dark: #b5b5b6;
$gray-x-dark: #676767;

$primary-color: $green;
$secondary-color: $dark-green;
$text-color: $navy;

/* Box Shadow */
$box-shadow: 0px 2px 7px rgba($black, 0.25);

/* Breakpoints */
// breakpoints should be used with min-width's (mobile-first)
$bp-xs: 481px;
$bp-s: 768px;
$bp-m: 1025px;
$bp-l: 1201px;
$bp-xl: 1401px;

/* Spacing */
$space-s: 1em;
$space-m: 2em;
$space-l: 3em;
$space-xl: 4em;

//max width
$max-width: 1280px;
