<template>
  <footer>
    <router-link to="/" class="logo"><img alt="Clarity Logo" src="../assets/logo.svg"></router-link>
    <p class="uppercase footer-description">
      Executive Coaching<br><span> | </span>Leadership Development<br><span> | </span>Organizational Consulting
    </p>
    <div class="connect-links">
      <a href="tel:3308583713" target="_blank">
        <img alt="Phone" src="../assets/phone.svg">330.858.3713
      </a>
      <a href="mailto:coach@claritysallyday.com" target="_blank">
        <img alt="Email" src="../assets/email.svg">coach@claritysallyday.com
      </a>
      <a href="#">
        <img alt="Website" src="../assets/web.svg">www.claritysallyday.com
      </a>
    </div>
    <p>
      © 2020 Clarity Coaching By Sally Day.<br>
      All Rights Reserved.
    </p>
    <p class="no-margin">Web design by <a href="http://marqueecreatives.com/" target="_blank">MarqueeCreatives</a></p>
  </footer>
</template>

<style lang="scss" scoped>
footer {
  background: $black-light;
  text-align: center;
  padding: 3em 1em;

  .logo img {
    max-width: 175px;
    margin-bottom: 2em;
  }

  &, * {
    color: $white;
  }

  .footer-description {
    span {
      display: none;
    }

    @media(min-width: $bp-s) {
      br {
        display: none;
      }

      span {
        display: inline-block;
        margin: 0 1em;
      }
    }
  }

  .connect-links {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 2em auto 2em;

    @media(min-width: $bp-s) {
      flex-flow: row;
    }

    a {
      display: flex;
      margin: 0.5em;
      align-items: center;
      justify-content: center;

      img {
        max-width: 25px;
        margin-right: 1em;
        vertical-align: middle;
      }
    }

  }
}
</style>
