<template>
  <nav id="nav">
    <router-link to="/" class="logo"><img alt="Clarity logo" src="../assets/logo.svg"></router-link>

    <div class="links">
      <router-link class="featured" to="/about">About</router-link>
      <router-link class="featured" to="/discover">Discover</router-link>
      <router-link class="featured" to="/connect">Connect</router-link>
    </div>
  </nav>
</template>

<style lang="scss" scoped>
$logo-width: 10em;

#nav {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: $max-width;
  margin: 0 auto;
  grid-template-columns: $logo-width / 2 1fr;
  padding: 1em;
  position: relative;
  z-index: 1;

  .logo {
    img {
      max-width: $logo-width / 2;
    }
  }

  @media(min-width: $bp-s) {
    padding: 1.75em 1em 1em;
    grid-template-columns: $logo-width 1fr;
    align-items: flex-start;

    .logo {
      img {
        max-width: $logo-width;
      }
    }
  }

  @media(min-width: $bp-m) {
    grid-template-columns: $logo-width * 1.25 1fr;

    .logo {
      img {
        max-width: $logo-width * 1.25;
      }
    }
  }

  .links {
    text-align: right;
    text-transform: uppercase;

    @media(min-width: $bp-s) {
      text-align: center;
      margin-left: -$logo-width + 1em;
      margin-top: 1em;
    }

    @media(max-width: $bp-s - 1) {
      text-align: right;
    }

    a {
      margin: 0 0 0 1.2em;
      font-size: 0.8em;

      &:after {
        visibility: hidden;
        transition: unset;
      }

      &.router-link-exact-active:after, &:hover:after {
        visibility: visible;
      }

      @media(max-width: $bp-s - 1) {
        &:last-of-type {
          margin-right: 0;
        }
      }

      @media(min-width: $bp-xs - 100) {
        margin: 0 0 0 1.5rem;
      }

      @media(min-width: $bp-xs) {
        font-size: 1em;
        margin: 0 1.5rem;
      }

      @media(min-width: $bp-s) {
        font-size: 1.15em;
        margin: 1rem 2rem 0;
      }
    }
  }
}
</style>
