<template lang="pug">
.vue-image
  transition(name="fade")
    img(v-if="loaded" :src="source" :alt="alt")
    svg(
      v-else
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      viewbox="0 0 10 10"
      :width="width"
      :height="height"
      :style="{ 'background-color': backgroundColor }"
      :alt="alt"
    )
</template>

<script>
import supportsWebP from 'supports-webp'
var PRODUCTION = process.env.NODE_ENV !== 'development'

export default {
  props: {
    backgroundColor: {
      type: String,
      default: '#efefef'
    },
    width: {
      type: Number,
      default: 200
    },
    height: {
      type: Number,
      default: 200
    },
    source: {
      type: String,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    }
  },

  data () {
    return {
      loaded: false,
      observer: null
    }
  },

  mounted () {
    this.intersectionWatcher()
  },

  destroyed () {
    this.observer.disconnect()
  },

  methods: {
    intersectionWatcher () {
      this.observer = new IntersectionObserver(async entries => {
        const image = entries[0]
        if (image.isIntersecting) {
          this.observer.disconnect()

          if (this.source !== '') {
            const newImg = new Image()

            if (await supportsWebP && PRODUCTION) {
              this.source = this.source + '.webp'
            }

            newImg.src = this.source

            newImg.onload = () => {
              this.loaded = true
            }
          }
        }
      })

      this.observer.observe(this.$el)
    }
  }
}
</script>

<style lang="scss" scoped>
.vue-image {
  position: relative;
  overflow: hidden;

  svg, img {
    display: inline-block;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-leave-active {
  position: absolute;
}
</style>
